div.custom {
  display: flex;
  margin-left: 4px;
  .pipe {
    height: 25px;
    border-left: 1px solid #e5e5e5;
    margin: 8px 6px 2px 0px;
  }
  .text-reader {
    height: 23px;
    width: 23px;
    margin: 4px 4px 4px 0px;
    padding: 4px 7px 4px 4px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    background: none;
    cursor: pointer;
    text-align: center;
    &:hover {
      background: #e9e9eb;
      .solid {
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .solid {
      margin: 5px 3px 3px 7px;
      color: #757575;
      overflow: hidden;
      cursor: pointer;
    }
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }
  p {
    padding-left: 3.5px;
    margin: 5px 0 0 0px;
    color: #2c3e50;
    font-size: 16px;
  }
}
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper.transition {
  height: 80vh;
}
.v-note-panel .v-note-show {
  height: 80vh;
  display: block;
  font-size: 18.5px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  .v-show-content.scroll-style.scroll-style-border-radius {
    color: #2c3e50;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 8px;
    }
    ins {
      text-decoration: none;
      border-right: 1px solid;
      padding-right: 3px;
    }
    blockquote {
      padding: 0 0.1em;
      padding-top: 0.5em;
      border-left: none;
      border-top: 0.25em solid #dfe2e5;
    }
    p {
      text-indent: 1em;
    }
    ruby {
      rt {
        font-size: 50%;
      }
    }
  }
}

@font-face {
  font-family: HentaiKana;
  src: url("../font/UniHentaiKana-Regular.woff2") format("woff2"),
    url("../font/UniHentaiKana-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: IPAmjm;
  src: url("../font/ipamjm.woff2") format("woff2"),
    url("../font/ipamjm.woff") format("woff"),
    url("../font/ipamjm.ttf") format("truetype");
  font-display: swap;
}
